mixin formElement(options)
  if !options
    - options = {};

  -
    let classes = ""
    classes += options.mix ? " form-element--" + options.mix : ""

  .form-element(
    class=classes,
    style=options.mb ? `--margin-bottom: ${options.mb}px` : false
  )
    if (options.title)
      .form-element__category(
        style=options.categoryMb ? `--category-margin-bottom: ${options.categoryMb}px` : false
      )
        h2.form-element__title= options.title
        span.form-element__state= options.state
    .form-element__content
      block
