mixin formElement({mix, mb, title, categoryMb, state}={})
  .form-element(
    class=mix ? ` form-element_${mix}` : "",
    style=mb ? `--margin-bottom: ${mb}px` : false
  )
    if (title)
      .form-element__category(
        style=categoryMb ? `--category-margin-bottom: ${categoryMb}px` : false
      )
        h2.form-element__title= title
        span.form-element__state= state
    .form-element__content
      block
