include ../like/like

mixin review({name, date, img, text, like: {count, isChecked}}, mix)
  article.review(class=mix ? mix : "")
    .review__header
      .review__avatar
        img.review__img(
          src=require(`./img/${img}`),
          width="48",
          height="48",
          alt=name
        )
      .review__info
        h3.review__author= name
        span.review__date= date
    .review__body
      .review__like
        +like(count, isChecked)
      p.review__text= text
