include ../rating/rating

mixin room({link, number, category, price, rating, reviewTotal, images = []})
  section.room.js-room
    a.room__link(href=link)
      .room__info
        h2.room__title
          span.room__number= number
          span.room__class= category
        span.room__cost
          span.room__price= price
          | в сутки
      .room__rating
        +rating(rating)
        p.room__review
          span.room__review-number= reviewTotal
          | Отзывов
    .room__slider.js-slider
      each img in images
        .room__img-wrapper
          img.room__img(
            src=require(`../catalog-result/img/${img.src}`),
            srcset=require(`../catalog-result/img/${img.srcset}`),
            alt="Фото номера"
          )
