include ../rating/rating

mixin room(room)
  if !room
    - room = {};

  if !room.images
    - room.images = [];

  section.room
    a.room__link(href=room.link)
      .room__info
        h2.room__title
          span.room__number= room.number
          span.room__class= room.category
        span.room__cost
          span.room__price= room.price
          | в сутки
      .room__rating
        +rating(room.rating)
        p.room__review
          span.room__review-number= room.reviewTotal
          | Отзывов
    .room__slider.js-slider
      each img in room.images
        +roomImg(img)

mixin roomImg(img)
  .room__img-wrapper
    img.room__img(
      src=require(`../catalog-result/img/${img.src}`),
      srcset=require(`../catalog-result/img/${img.srcset}`),
      alt="Фото номера"
    )
