include ../../components/uikit/uikit-page/uikit-page

block variables

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= pageTitle
  block body
    +uikitPage(uikitClass)
      block header
        header.uikit-page__header
          .uikit-page__header-wrapper
            a.uikit-page__logo(href="index.html")
              img.uikit-page__logo-pic(
                src=require("./img/logo-uikit.png"),
                width="48",
                height="48",
                alt="Логотип"
              )
      block content
