mixin button(options)
  if !options
    - options = {}

  -
    let classes = []
    const defaultClass = "button"

    if (options.buttonMod)
      if (options.buttonMod.constructor !== Array)
        classes.push(`${defaultClass}--${options.buttonMod}`)
      else if (options.buttonMod.length > 0)
        options.buttonMod.forEach(item =>
          classes.push(`${defaultClass}--${item}`)
        )

  if options.iconName
    - classes.push(`${defaultClass}--icon`)

  if options.mix
    - classes.push(options.mix)


  if (options.link)
    a.button(class = classes href = options.link)= options.desc
      +buttonIcon(options.iconName, options.hiddenDesc)
  else
    button.button(
      class = classes
      type = options.type
      data-action = options.dataAction
      form = options.form
      )= options.desc
      +buttonIcon(options.iconName, options.hiddenDesc)


mixin buttonIcon(name, desc)
  if (name)
    span.visually-hidden= desc
    i.button__icon.material-icons= name
