mixin button(options={})
  -
    let classes = []
    if (options.mode)
      if(Array.isArray(options.mode))
        classes = options.mode.map(mode => `button_${mode}`)
      else
        classes.push(`button_${options.mode}`);

    if (options.icon)
      classes.push("button_icon")

  if (options.link)
    a.button(class=classes, href=options.link)&attributes(options.attributes)= options.text
      +icon(options.icon)
      if (options.inner)
        +#{options.inner}
  else
    button.button(class=classes)&attributes(options.attributes)= options.text
      +icon(options.icon)
      if (options.inner)
        +#{options.inner}

mixin icon(options={})
  if options.name
    span.visually-hidden= options.text
    i.button__icon.material-icons= options.name
