mixin button({modifiers = {}, link, icon, attributes: buttonAttributes = {}, text})
  -
    let classes = [];
    const tag = link ? "a": "button";

  if (modifiers)
    each items, modifier in modifiers
      each item in items
        - classes.push(`button_${modifier}_${item}`);

  #{tag}.button(class=classes, href=link)&attributes(buttonAttributes)= text
    if icon
      span.button__visually-hidden-text= icon.text
      i.button__icon= icon.name
