mixin button(options)
  if !options
    - options = {}

  - let classes = []

    if options.iconName
      - classes.push("button--icon")

    if options.buttonMod
      -classes.push(`button--${options.buttonMod}`)

    if options.mix
      - classes.push(options.mix)

  if (options.link)
    a.button(class = classes href = options.link)= options.desc
      +buttonIcon(options.iconName, options.hiddenDesc)
  else
    button.button(class = classes type = options.type)= options.desc
      +buttonIcon(options.iconName, options.hiddenDesc)


mixin buttonIcon(name, desc)
  if (name)
    span.visually-hidden= desc
    i.material-icons= name
