mixin button({mode, link, icon, attributes: buttonAttributes = {}, text})
  -
    let classes = [];
    const tag = link ? "a": "button";

    if (mode)
      classes = mode.map(item => `button_${item}`)

    if (icon)
      classes.push("button_with-icon")

  #{tag}.button(class=classes, href=link)&attributes(buttonAttributes)= text
    if icon
      span.visually-hidden= icon.text
      i.button__icon.material-icons= icon.name
