mixin social
  include ./social-data
  - let social = locals.social;

  .social
    ul.social__list
      each item in social
        li.social__item
          a.social__link(
            class=`social__link_icon_${item.icon}`,
            href=item.href,
            title=item.text,
            aria-label=item.text,
            target="_blank",
            rel="noopener noreferrer"
          )
